upstream {{ upstream_name }} {
    keepalive 16;
    server {{ ip_and_port }} weight=1;
}


server {
    listen 80;
    server_name {{ server_name }};
    client_max_body_size 32m;

    error_log  /var/log/nginx/{{ log_evn | default(test) }}-{{ server_name }}.error.log;
    access_log /var/log/nginx/{{ log_evn | default(test) }}-{{ server_name }}.log main;

    location / {
        proxy_next_upstream error invalid_header http_500 http_502 http_503 http_504;
        proxy_pass http://{{ upstream_name }};
        proxy_redirect off;
        proxy_http_version 1.1;
        proxy_set_header Connection "";
        proxy_buffers              4 32k;
        proxy_busy_buffers_size    64k;
        proxy_temp_file_write_size 64k;
        proxy_ignore_client_abort on;
        proxy_set_header   Host             $host;
        proxy_set_header   X-Real-IP        $remote_addr;
        #proxy_set_header    X-Forwarded-Proto https;
        proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}
